html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Стили приложения */

.panel-heading {
    padding: 10px;
}

.gridview-toolbar {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}

.navbar {
    border-radius: 0;
    margin: 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > a {
    padding: 15px;
    border: none;
}

.nav > a:focus,
.nav > a:hover {
    text-decoration: none;
}

.nav > a:focus {
    outline: none;
}

.left-sidebar {
    width: 250px;
    height: 100%;
    float: left;
    position: fixed;
    display: block;
    background-color: #222;
    padding: 15px;
    overflow: auto;
}

.left-sidebar > a {
    border-radius: 20px;
    margin: 0 0 5px 0;
    min-width: 100%;
    max-width: 100%;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.left-sidebar > h3 {
    color: #fff;
    text-align: center;
}

.right-placeholder{
    height: 100%;
    position: fixed;
    width: calc(100% - 250px);
    right: 0;
    display: block;
    padding: 15px;
    overflow: auto;
}
.card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body{
    padding: 1.25rem;
}

.card-title {
    margin-top: 0;
    margin-bottom: .75rem;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.2;
    display: block;
}

.card-text{
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
}

.card-link{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.card-text.price{
    font-weight: 700;
}